
//@import url('https://fonts.googleapis.com/css?family=Nunito');

@import '~vuetify/src/stylus/main.styl';

.shadow-0
  text-shadow: 0 0 10px #000

.shadow-1
  text-shadow: 2px 2px 7px #000

.shadow-2
  text-shadow: 5px 5px 5px #000

.shadow-3
  text-shadow: 7px 7px 10px #000

.shadow-4
  text-shadow: 10px 10px 10px #000

.box-shadow
  box-shadow: 5px 5px 10px #212121bd!important;

.dashboard
  .v-card
    i 
      font-size 100px
    
.font-600
  font-weight: 600
  
.uppercase
  text-transform: uppercase

.lowercase
  text-transform: lowercase

.capitalize
  text-transform: capitalize